@tailwind base;
@tailwind components;
@tailwind utilities;

.glass-btn {
  @apply px-6 py-3 rounded-xl border border-white/40 text-white font-semibold 
         backdrop-blur-md bg-white/10 hover:bg-white/20 transition-all duration-300
         shadow-lg hover:shadow-2xl hover:scale-105;
}
@font-face {
  font-family:headfont ;
  src: url(./font/BricolageGrotesque10pt-Bold.otf);
}

.headfont{
  font-family: headfont;
}

.auth-btn {
  @apply w-full bg-blue-800 text-white rounded-lg py-2.5 font-medium
  hover:bg-blue-600 focus:ring-2 focus:ring-blue-500;
}